.btn.signup{
  width: 150px;
  height: 40px;
  background-color: #00baff;
  border-radius: 100px;
  border: 1px solid #00baff;
  
  
}
.workhome{
  background-color: #ebf7ff;
  width: 710px;
  height: 30px;
  margin: auto;
  position: relative;
  top: 37px;

 
  border-radius: 15px;
  font-size: 14px;
  letter-spacing: .02em;



}
.btn.wh{
  background-color: white;
  border-radius: 15px;
  width: 110px;
  height: 100%;
  font-size: 12px;
  letter-spacing: .03em;
  
  
}

.btn.wh:hover{
  background-color: #00baff;
}